<div class="content" role="main">

  <!-- Login -->
  <h2>Login</h2>
  <div class="container-form">
    <form action="/action_page.php">
      <label for="fname">Username</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">

      <label for="lname">Password</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">

      <input type="submit" value="Login">
    </form>
    <a routerLink="/signup-page" routerLinkActive="active">Create an account</a>
  </div>

  <!-- Footer -->
  <footer>
  </footer>
</div>
