<div class="content" role="main">

  <!-- Login -->
  <h2>Sign up</h2>
  <div class="container-form">

      <label for="id">ID</label>
      <input #id type="text" id="id" name="id" placeholder="Your ID...">

      <label for="email">Email Address</label>
      <input #email type="text" id="email" name="email" placeholder="Your email address..">

      <label for="password">Password</label>
      <input #password type="text" id="password" name="password" placeholder="6 to 20 letters with at least 1 number..">

      <label for="fname">First Name</label>
      <input #firstname type="text" id="fname" name="firstname" placeholder="Your first name..">

      <label for="lname">Last Name</label>
      <input #lastname type="text" id="lname" name="lastname" placeholder="Your last name..">

      <button
      (click)="create(id.value, email.value, firstname.value, lastname.value, password.value)">
      Create Account
    </button>
  </div>
  <br/>
  <a routerLink="/" routerLinkActive="active">Already have an account?</a>
  <!-- Footer -->
  <footer>

  </footer>
</div>


